---
import "../styles/global.css";
import { Providers } from "../components/providers/Providers";
// import { ClientRouter } from "astro:transitions";
import { NavigationBar } from "../components/NavigationBar";

interface Props {
  title?: string;
  showNav?: boolean;
  activeSection?: "creator" | "preview" | "learning";
}

const { title = "10x Cards - Twórz i ucz się z fiszkami", showNav = false, activeSection = "creator" } = Astro.props;

const { user } = Astro.locals;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Twórz i ucz się z fiszkami w intuicyjny sposób" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>{title}</title>
    <!-- <ClientRouter /> problems with toast if enabled - toast showing only after page reload -->
  </head>
  <body>
    <Providers client:load>
      <div class:list={["min-h-screen", { "bg-gray-50": showNav }]}>
        {showNav && <NavigationBar client:load user={user} activeSection={activeSection} />}
        <main>
          {
            showNav ? (
              <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                <slot />
              </div>
            ) : (
              <slot />
            )
          }
        </main>
      </div>
    </Providers>
  </body>
</html>
